<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register new user</title>
</head>
<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'gwent:handle' %}" method="post">
    {% csrf_token %}
    <label for="id_username">User name:</label>
    <input type="text" name="username" pattern="[\S]{1,30}" id="id_username" required/>
    <br/>
    <label for="id_password">Password</label>
    <input type="password" name="password" pattern="[\S]{1,200}" id="id_password" required/>
    <br/>
    <input type="submit" value="Submit">
</form>
</body>
</html>